.metadata/
**/Debug/
**/conway/
**/led-asm-svc/
**/led-blink/
**/led-blink-asm/
**/leds-puls/
**/leds-puls-freertos/
**/priorities-freertos/
**/queue-freertos/
**/sem-binary-freertos/
**/sem-mutex-freertos/
**/siete-segmentos-asm/
**/spi-test/
**/test-balanza-digital/
**/tpi/
**/tpii/
**/tpiii/
**/tpiv/